params {
    config_profile_description = 'Centro Nacional de Analisis Genomico (CNAG) cluster profile for nf-core/configs'
    config_profile_contact = 'Georgia Kesisoglou (@georgiakes)'
}

process {
    executor       = 'slurm'
    queue          = 'genD,general'
    scratch        =  true
    resourceLimits = [ cpus: 128, memory: 983.GB  ]
    clusterOptions = {
            switch (task.time) {
                case { it > 168.h } :
                    return '--qos=eternal'
                case (48<..168).h:
                    return '--qos=marathon'
                case (24<..48).h:
                    return '--qos=vlong'
                case (12<..24).h:
                    return '--qos=long'
                case (6<..12).h:
                    return '--qos=normal'
                case (1..6).h:
                    return '--qos=short'
                default:
                    return '--qos=vshort'
        }
    }   
}

profiles {
    singularity {
        enabled      = true
        envWhitelist = 'https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID'
    }
}

trace {
    enabled = true
    raw     = true
    fields = 'task_id,hash,native_id,name,status,exit,submit,duration,realtime,queue,%cpu,rss,vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

cleanup = true

