params {
    config_profile_description = 'Centro Nacional de Analisis Genomico (CNAG) cluster profile for nf-core/configs'
    config_profile_contact = 'Georgia Kesisoglou (@georgiakes)'
}

process {
    executor       = 'slurm'
    queue          = 'genD'
    scratch        =  true
    resourceLimits = [ cpus: 128, memory: 983.GB  ]
    clusterOptions = { 
        if (task.time > 168.h) {
            '--qos=eternal'
        } else if (task.time > 48.h) {
            '--qos=marathon'
        } else if (task.time > 24.h) {
            '--qos=vlong'
        } else if (task.time > 12.h) {
            '--qos=long'
        } else if (task.time > 6.h) {
            '--qos=normal'
        } else if (task.time > 1.h) {
            '--qos=short'
        } else {
            '--qos=vshort'
        }
    }  
}

singularity {
    enabled      = true
}

trace {
    enabled = true
    raw     = true
    fields = 'task_id,hash,native_id,name,status,exit,submit,duration,realtime,queue,%cpu,rss,vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}
